<div class="app app-header-fixed ">
    <div class="container w-xxl w-auto-xs" style="text-align:center">
      <img src="img/logo2.png" alt="." width="190" height="60" >
      <div class="m-b-lg">
        <form name="form" method="post" class="form-validation">
          <div class="list-group list-group-sm">
          <div class="list-group-item">
              <input placeholder="First Name" name="firstname" class="form-control no-border" required>
            </div>
            <div class="list-group-item">
              <input placeholder="Last Name" name="lastname" class="form-control no-border" required>
            </div>
            <div class="list-group-item">
              <input placeholder="Company Name" name="company_name" class="form-control no-border">
            </div>
            <div class="list-group-item">
              <input placeholder="Mobile No." name="mob_num" class="form-control no-border">
            </div>
            <div class="list-group-item">
              <input type="email" name="email" placeholder="Email" class="form-control no-border" required>
            </div>
          </div>
          <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
        </form>
      </div>
    </div>
</div>

<!-- footer -->

<!-- / footer