<div class="container">
  <h2>Available Phone Number</h2><br/>
<table  class="table table-bordered" >
       <thead>
           <tr>
               <th>Sr.No.</th>
              <!--  <th>Phone Number</th>     -->             
           </tr>
       </thead>
       <tbody>

  <%  var i=1; list. forEach(function(data) { %>
  <tr>
      <td><%= i++ %></td>
      <!-- <td><%= dataob.phone_number %></td>  -->
   </tr>
 <% }); %> 

</tbody>
</table>
</div>