<!-- content -->
<div id="content" class="app-content" role="main">
	<div class="app-content-body "> 
		<div class="wrapper-md">
			<div class="col-md-8">
				<div class="panel panel-default">
		    	<div class="panel-heading font-bold">                  
		      	Allocate User
		    	</div>
		    	<div class="panel-body">
	      		<form class="bs-example form-horizontal" action="/allocateNumberToUSer" method="post">
							<div class="form-group">
								<label class="col-lg-2 control-label">Number</label>
								<div class="col-lg-10">
									<input type="text" name="number" class="form-control" placeholder="John" value="<%= number %>" reonly='trur'>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label">User</label>
								<div class="col-lg-10">
									<select class="users form-control" name='users' multiple>
										<% if (users.length > 0) {
                  
                    for (var i = 0; i < users.length; i++) { %>
                      <option value=<%= users[i].id%> > <%= users[i].firstname%> </option>
                    <% } }%>
									</select>
								</div>
							</div>
							<div class="col-md-4">
	      					<input type="radio" value="1" name="duration"> All Time
	      			</div>
	      			<div class="col-md-4">
	      					<input type="radio" value="2" name="duration"> Custom
	      			</div>
	      			<div class="col-md-4">
	      					<input type="radio" value="3" name="duration"> Unavailable
	      			</div>
	      			<div class="col-md-12" style="margin-top:20px">
			      		<div id="custom" style="display:none;" class="col-md-12">
			      			<input type="checkbox" name="w_day[]" value="Monday"> Monday
			      			<input type="checkbox" name="w_day[]" value="Tuesday" style="margin-left:20px"> Tuesday
			      			<input type="checkbox" name="w_day[]" value="Wednesday" style="margin-left:20px"> Wednesday
			      			<input type="checkbox" name="w_day[]" value="Thursday" style="margin-left:20px"> Thursday
			      			<input type="checkbox" name="w_day[]" value="Friday" style="margin-left:20px"> Friday
			      			<input type="checkbox" name="w_day[]" value="Saturday" style="margin-left:20px"> Saturday
			      			<input type="checkbox" name="w_day[]" value="Sunday" style="margin-left:20px"> Sunday
		      				<div class="form-group" style="margin-top:20px">
										<label class="col-lg-2 control-label">From</label>
										<div class="col-lg-3">
											<input type="text" name="from_time" class="form-control" value="" placeholder="00:00:00">
										</div>
										<label class="col-lg-2 control-label">To</label>
										<div class="col-lg-3">
											<input type="text" name="to_time" class="form-control" value="" placeholder="23:59:59">
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-offset-2 col-lg-10">
									<button type="submit" class="btn btn-info">Allocate Number To User</button>
								</div>
							</div>
						</form>
		    	</div>
		  	</div>
		  </div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('input[type=radio][name=duration]').change(function() {
			var rad_val = this.value;
			if(rad_val == 2){
				$("#custom").show();
			} else {
				$("#custom").hide();
			}
		});
	})
</script>
  <!-- /content -->
  
  <!-- footer -->

  <!-- / footer -->