<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script> -->
<div id="content" class="app-content" role="main">
  <div class="app-content-body ">

    <div class="wrapper-md" ng-controller="FormDemoCtrl">

      <div class="panel panel-default">
        <div class="panel-heading font-bold">                  
          Contect Numbers
        </div>
       
        <div>
			<table  class="table table-bordered" >
				<thead>
					<tr>
					<th>Sr.No.</th>
					<th>phone_number</th>
					<th>iso_country</th>
					<th>rateCenter</th>
					<th>Action</th>
					</tr>
				</thead>
					<%  var i=1; availablePhoneNumbers. forEach(function(dataob) { %>
						  <tr>
						      <td><%= i++ %></td>
						      <td><%= dataob.phone_number %></td>
						      <td><%= dataob.iso_country %></td>
						      <td><%= dataob.rateCenter %></td>  
						      <td>Buy</td>  
						   </tr>
 					<% }); %> 
			</table>			      		
		</div>
	</div>	
    </div>
    </div>
	</div>
</div> 

<!-- <script>
$(document).ready(function () {

  $('#counName').on('change', function() {
    var counName = $('#counName').val();

    $.ajax({
      type: 'POST',
      url: '/postAreaCode',
      contentType: 'application/json',
      data: JSON.stringify({
        "counName":counName,
      }),
      error: function(e) {
        console.log(e);
      },
      dataType: "json",
      success: function(data) {
        
        var optionsAsString = "<option value=''>--Select Area--</option>";
        for(var i = 0; i < data.length; i++) {
            optionsAsString += "<option value='" + data[i].areaCode + "'>" + data[i].areaCode + "</option>";
        }
        $('#areaCode').html( optionsAsString );
      }
    });
  });
});

</script> -->