<!-- content -->
   	<div id="content" class="app-content" role="main">
  		<div class="app-content-body "> 
			<div class="wrapper-md">
				<div class="col-md-8">
				<div class="panel panel-default">
			    	<div class="panel-heading font-bold">                  
			      		Add User
			    	</div>
			    	<div class="panel-body">
			      		<form class="bs-example form-horizontal" action="/create_user" method="post">
						<% if(data.error!= '' && data.error!=undefined){ %>
							<div class="text-danger text-center">
							<strong ><%= data.error %></strong>
							</div>
						<% } %>
							<div class="form-group">
								<label class="col-lg-2 control-label">Firstname</label>
								<div class="col-lg-10">
									<input type="text" name="firstname" class="form-control" placeholder="John" value="<%= user.firstname ? user.firstname : '' %>" required>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label">lastname</label>
								<div class="col-lg-10">
									<input type="text" name="lastname" class="form-control" placeholder="Doe" value="<%= user.lastname ? user.lastname : '' %>" required>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label">Email</label>
								<div class="col-lg-10">
									<input type="email" name="email"  class="form-control" placeholder="john@gmail.com" value="<%= user.email ? user.email : '' %>" required>
								</div>
							</div>
							<div class="form-group">
				              	<div class="col-lg-offset-2 col-lg-10">
				                	<div class="checkbox">
				                  		<label class="i-checks">
				                    		<input type="checkbox" name="user_type_id" value="1"><i></i> is admin
										</label>
				                	</div>
				              	</div>
				            </div>
				            <div class="form-group">
								<label class="col-lg-2 control-label">Assign Device</label>
								<div class="col-lg-10">
									<input type="text" name="assign_device"  class="form-control" placeholder="+919988776655">
								</div>
							</div>

							<div class="form-group">
								<div class="col-lg-offset-2 col-lg-10">
									<button type="submit" class="btn btn-info">Add User</button>
								</div>
							</div>
						</form>
			    	</div>
			  	</div>
			  	</div>
			</div>
		</div>
  	</div> 
  <!-- /content -->
  
  <!-- footer -->

  <!-- / footer -->