content -->
   <div id="content" class="app-content" role="main">
  		<div class="app-content-body "> 
			<div class="wrapper-md">
				<div class="panel panel-default">
			    	<div class="panel-heading font-bold">                  
			      		User
			    	</div>
			    	<div class="panel-body">
			    		<div>
			      			<a href="/user/form" class="btn btn-info">Add User</a>
			      		</div>
			      		<div>
			      			<table  class="table table-bordered" >
							<thead>
							<tr>
							<th>Sr.No.</th>
							<th>First name</th>
							<th>Last name</th>
							<th>Email</th>
							</tr>
							</thead>
							<%  var i=1; list. forEach(function(dataob) { %>
  <tr>
      <td><%= i++ %></td>
      <td><%= dataob.firstname %></td>
      <td><%= dataob.lastname %></td>
      <td><%= dataob.email %></td>  
   </tr>
 <% }); %> 
							</table
>			      		</div>
			    	</div>

			  	</div>
			</div>
		</div>
  	</div> 
  <!-- /content -->
  
  <!-- footer -->

  <!-- / footer