<!-- content -->
<div id="content" class="app-content" role="main">
	<div class="app-content-body "> 
		<div class="wrapper-md">
			<div class="col-md-8">
				<div class="panel panel-default">
		    	<div class="panel-heading font-bold">                  
		      	Allocate User
		    	</div>
		    	<div class="panel-body">
	      		<form class="bs-example form-horizontal" action="/allocateNumberToUSer" method="post">
							<div class="form-group">
								<label class="col-lg-2 control-label">Number</label>
								<div class="col-lg-10">
									<input type="text" name="number" class="form-control" placeholder="John" value="<%= number %>" readonly>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label">User</label>
								<div class="col-lg-10">
									<select class="users form-control" name='users' multiple>
										<% if (users.length > 0) {
                  
                    for (var i = 0; i < users.length; i++) { 
                    %>
                      <option <% if(users[i].selected== 'true'){ %> selected <%} %> value=<%= users[i].id%> > <%= users[i].firstname%> </option>
                    <% } }%>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-offset-2 col-lg-10">
									<button type="submit" class="btn btn-info">Allocate Number To User</button>
								</div>
							</div>
						</form>
		    	</div>
		  	</div>
		  </div>
		</div>
	</div>
</div>
  <!-- /content -->
  
  <!-- footer -->

  <!-- / footer -->