<!-- content -->
   <div id="content" class="app-content" role="main">
  		<div class="app-content-body "> 
			<div class="wrapper-md">
				<div class="panel panel-default">
			    	<div class="panel-heading font-bold">                  
			      		User
			    	</div>
			    	<div class="panel-body">
			    		<div style="margin-bottom:10px">
			      			<a href="/user/form" class="btn btn-info">Working Hours</a>
			      		</div>
			      		<div>
			      			<div class="col-md-4">
			      				<input type="radio" value="1" name="duration"> All Time
			      			</div>
			      			<div class="col-md-4">
			      				<input type="radio" value="2" name="duration"> Custom
			      			</div>
			      			<div class="col-md-4">
			      				<input type="radio" value="3" name="duration"> Unavailable
			      			</div>
			      		</div>
			    	</div>

			  	</div>
			</div>
		</div>
  	</div> 
  <!-- /content -->
  
  <!-- footer -->

  <!-- / footer -->